*{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.loadingtext{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.jumbotron {
  height: 100vh;
  background-image: url(./img/jumbotron-bg-bar.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
  padding: 0 30px 0 30px;
}

.card {
  width: calc(22.00%);
  margin: 0 10px 10px;
}